.amazon-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(19, 25, 33);
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  padding: 0 15px;
  gap: 24px;
  z-index: 999;
}
.header-left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  border: 1px solid transparent;
  height: 50px;
  border-radius: 2px;
  flex-shrink: 0;
  transition: border 0.15s;
}
.home-link:hover {
  border: 1px solid white;
}
.amazon-logo {
  padding-top: 1px;
  height: 31px;
}
.amazon-logo-mobile {
  display: none;
  height: 35px;
}
.header-middle {
  flex: 1;
  padding-left: 52px;
  display: flex;
  align-items: center;
  max-width: 850px;
  min-width: 0px;
}
.header-search {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 0px;
}
.amazon-header .search-bar {
  flex: 1;
  background-color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px 0 0 4px;
  height: 40px;
  padding: 0px 15px;
  min-width: 0px;
}
.amazon-header .search-bar:focus {
  outline: 2px solid rgb(255, 132, 49);
}
.amazon-header .search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(254, 189, 105);
  border: none;
  height: 40px;
  width: 45px;
  border-radius: 0 4px 4px 0;
  flex-shrink: 0;
}
.amazon-header .search-icon {
  padding-left: 2px;
  height: 22px;
}
.header-right {
  display: flex;
  flex-shrink: 0;
}
.header-right .header-nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}
.orders-link,
.cart-link {
  text-decoration: none;
  color: white;
}
.orders-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 50px;
  padding: 0 6px;
  white-space: nowrap;
  transition: border 0.15s, background-color 0.15s;
}
.orders-link:hover {
  border: 1px solid white;
}
.orders-link span {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 2px;
}
.cart-link {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 50px;
  padding: 0 6px;
  flex-shrink: 0;
  transition: border 0.15s, background-color 0.15s;
}
.cart-link .cart-text {
  display: inline-block;
  position: relative;
  padding-top: 12px;
  font-size: 15px;
  font-weight: 700;
}
.cart-link:hover {
  border: 1px solid white;
}
.cart-link .cart-icon {
  height: 34px;
  width: 50px;
}
.cart-link .cart-quantity {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  color: rgb(255, 132, 49);
  left: 20px;
  top: 6px;
  width: 30px;
  text-align: center;
}
.header-right .hamburger-menu {
  display: none;
  background-color: transparent;
  padding: 10px 6px;
  border: none;
  border-radius: 50px;
  margin: 0 10px 0 10px;
  flex-shrink: 0;
}
@media (max-width: 800px) {
  .amazon-header {
    gap: 10px;
  }
  .header-middle {
    padding-left: 0px;
    padding-right: 14px;
  }
}
@media (max-width: 575px) {
  .amazon-header {
    gap: 0;
  }
  .amazon-logo {
    display: none;
  }
  .amazon-logo-mobile {
    display: block;
  }
  .header-middle {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-nav-links li {
    width: 100%;
  }
  .header-right .header-nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 88px;
    background-color: rgb(19, 25, 33);
    gap: 0;
  }
  .header-right .header-nav-links.istoggled {
    display: flex;
  }
  .orders-link {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    padding: 0;
    gap: 4px;
  }
  .orders-link span {
    padding: 0;
    font-size: 16px;
    font-weight: 500;
  }
  .orders-link:hover {
    border: none;
    background-color: rgb(38, 50, 63);
  }
  .cart-link {
    display: flex;
    justify-content: center;
    height: 40px;
    border: none;
  }
  .cart-link:hover {
    border: none;
    background-color: rgb(38, 50, 63);
  }
  .cart-link .cart-icon {
    display: none;
  }
  .cart-link .cart-text {
    padding: 0;
    font-size: 16px;
    padding-right: 4px;
    font-weight: 500;
  }
  .cart-link .cart-quantity {
    position: static;
    font-weight: 500;
  }
  .cart-link .cart-text {
    padding: 0;
  }
  .cart-quantity::before {
    content: "(";
    color: white;
  }
  .cart-quantity::after {
    content: ")";
    color: white;
  }
  .header-right .hamburger-menu {
    display: flex;
  }
}
@media (max-width: 220px) {
  .header-middle {
    overflow: hidden;
    min-width: 65px;
    flex-shrink: 0;
  }
}
